<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>HomeController</servlet-name>
        <servlet-class>controller.HomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HotelController</servlet-name>
        <servlet-class>controller.HotelController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditHotelController</servlet-name>
        <servlet-class>controller.EditHotelController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteHotelController</servlet-name>
        <servlet-class>controller.DeleteHotelController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterController</servlet-name>
        <servlet-class>controller.RegisterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffController</servlet-name>
        <servlet-class>controller.StaffController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TourController</servlet-name>
        <servlet-class>controller.TourController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VehicleController</servlet-name>
        <servlet-class>controller.VehicleController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>controller.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MainController</servlet-name>
        <servlet-class>controller.MainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileController</servlet-name>
        <servlet-class>controller.ProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RestaurantController</servlet-name>
        <servlet-class>controller.RestaurantController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangepasswordController</servlet-name>
        <servlet-class>controller.ChangepasswordController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TourDetailController</servlet-name>
        <servlet-class>controller.TourDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RestaurantList</servlet-name>
        <servlet-class>controller.RestaurantList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotpasswordController</servlet-name>
        <servlet-class>controller.ForgotpasswordController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageuserController</servlet-name>
        <servlet-class>controller.ManageuserController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomeController</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HotelController</servlet-name>
        <url-pattern>/hotels</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditHotelController</servlet-name>
        <url-pattern>/edit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteHotelController</servlet-name>
        <url-pattern>/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterController</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffController</servlet-name>
        <url-pattern>/staff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RestaurantController</servlet-name>
        <url-pattern>/restaurant</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TourController</servlet-name>
        <url-pattern>/tours</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VehicleController</servlet-name>
        <url-pattern>/vehicles</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MainController</servlet-name>
        <url-pattern>/landing</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileController</servlet-name>
        <url-pattern>/profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangepasswordController</servlet-name>
        <url-pattern>/changepassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TourDetailController</servlet-name>
        <url-pattern>/tour</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RestaurantList</servlet-name>
        <url-pattern>/RestaurantList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotpasswordController</servlet-name>
        <url-pattern>/forgotpassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageuserController</servlet-name>
        <url-pattern>/manageuser</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <servlet-name>RestaurantController</servlet-name>
    <url-pattern>/restaurant</url-pattern>
</web-app>
