<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>HomeController</servlet-name>
        <servlet-class>controllers.HomeController</servlet-class>
    </servlet>
    <servlet>
        <description>EasyTravel/hotels</description>
        <servlet-name>HotelController</servlet-name>
        <servlet-class>controllers.HotelController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controllers.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterController</servlet-name>
        <servlet-class>controllers.RegisterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffController</servlet-name>
        <servlet-class>controllers.StaffController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TourController</servlet-name>
        <servlet-class>controllers.TourController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VehicleController</servlet-name>
        <servlet-class>controllers.VehicleController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateVehicle</servlet-name>
        <servlet-class>controllers.CreateVehicle</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomeController</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HotelController</servlet-name>
        <url-pattern>/hotels</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterController</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffController</servlet-name>
        <url-pattern>/staff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TourController</servlet-name>
        <url-pattern>/tours</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VehicleController</servlet-name>
        <url-pattern>/vehicles</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateVehicle</servlet-name>
        <url-pattern>/create-vehicle</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>EasyTravel/hotels</welcome-file>
    </welcome-file-list>
</web-app>
